# Stage 03: Python Fundamentals

In [1]:
import numpy as np
import pandas as pd
import time

## 1. NumPy Operations

In [2]:
arr = np.array(range(1,10000))

# Python looping
loop_start = time.time()
result_loop = [x**2 for x in arr]
loop_end = time.time()
print("Loop time:", loop_end - loop_start)

# NumPy vectorized
vector_start = time.time()
result_vec = arr**2
vector_end = time.time()
print("Vectorized time:", vector_end - vector_start)

Loop time: 0.0024847984313964844
Vectorized time: 0.0003001689910888672

## 2. Dataset Loading

In [3]:
import sys
import os

df = pd.read_csv("../data/starter_data.csv")

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   category  10 non-null     object
 1   value     10 non-null     int64
 2   date      10 non-null     object
dtypes: int64(1), object(2)
memory usage: 368.0+ bytes

In [4]:
df.head()

  category  value        date
0        A     10  2025-08-01
1        B     15  2025-08-02
2        A     12  2025-08-03
3        B     18  2025-08-04
4        C     25  2025-08-05

## 3. Summary Statistics

In [6]:
df.describe()

           value
count  10.000000
mean   17.600000
std     7.381659
min    10.000000
25%    12.250000
50%    14.500000
75%    23.250000
max    30.000000

In [7]:
df.groupby("category")['value'].mean()

category
A    11.500000
B    15.666667
C    27.666667
Name: value, dtype: float64

## 4. Save Outputs

In [8]:
summary = df.describe()
summary

           value
count  10.000000
mean   17.600000
std     7.381659
min    10.000000
25%    12.250000
50%    14.500000
75%    23.250000
max    30.000000

In [9]:
summary = summary.to_csv('../data/processed/summary.csv')

In [10]:
def get_summary_stats(df):
    return df.describe()